.cuadro1{
   background-color: #eee;
  margin-top: 150px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  height: 200px;
  margin-bottom: 0px;

        }
 .diseno{
 	margin-left: 500px;

 }
 .texto{
 	width: 526.22222px;
 }
 .diseno2{
 	margin-left: 400px;

 }
 .diseno3{
 	margin-left: 200px;

 }
 .disenoBoton{
 	margin-top: 60px;
    margin-left: 480px;
 }
