.fondo{
  background-image: url(../img/81856.jpg); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center center; 
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 625px;
  animation-name: trans-header;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  z-index: -1;
}
.container-viewport {
  position: absolute;
  top: 100px;
  right: 250px;
  left: 250px;
  height: 500px;
  background-color: #eee;
  right: 400px;
  left: 400px;
}
 .cuadro1{
   background-color: #eee;
  margin-top: 600px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  height: 200px;
  margin-bottom: 0px;

        }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 .container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle }

 .content-box-black {
  background-color: #ffffff;
  border: 1px solid #afcde3;
  margin-left: auto;;
  margin-right: auto;
  padding: 10px;
  width: 600px;
  height: 500px;

            }
.texto-rojo{
  color:#ff0000;
  background-color: #000000;
}

.btn-primary {
    color: #fff;
    background-color: #8c301f;
    border-color: #cf452f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4A1005;
    border-color: #cf452f;
}
h2{
      color: #070707;
    }
    h5{
      color: #070707;
    }
    h4{
      color: #070707;
    }
      color: #2D80FF;
}

a:hover{
  color: #2D80FF;
}

.anchor:link{
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
  text-decoration: none;
}

.span{
  position: absolute;
  margin-top: 10px;
  margin-left: 45px;
}

.consultas{
  background-color: #F3F3F3; 
  height: 220px; 
  width: 100%; 
  top: 625px; 
  position: absolute;
  color: #777787;
}

.consultas div{
  margin-left: 60px;
  margin-top: 30px;
}

.consultas div span{
  font-size: 18px;
}

ul{
  list-style: none;
  margin-left: -90px;
  margin-top: 25px;
}

ul li{
  float: left;
  margin-left: 100px;

}
.boton-face{
  background-image: url(../img/facebook-icon.png);
  width: 26px;
  height: 25px;
  border: none;
}
.anchor:link{
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
  text-decoration: none;
}

.idiomas{
  width: 165px;
  text-align: center;
  font-size: 17px;
  background-color: #fbfbfb;
  margin-top: 30px;
  height: 40px;
  color: #777787;
  margin-left: 50px;
}

ul li a{
  color: #777787; 
}

ul li a:hover{
  color: #777787; 
}

.condiciones{
  font-size: 18px;
  color: #777787; 
}

.condiciones:hover{
  font-size: 18px;
  color: #777787; 
}


